# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

LICENSE-Paulscode IBXM Library\.txt

LICENSE-Paulscode SoundSystem CodecIBXM\.txt

LICENSE\.txt

forge-1\.12\.2-14\.23\.5\.2838-changelog\.txt
